{% extends "base.html" %} {% block content %}

<main class="index">
  <div class="recommendations">
    <h1>Just for you!</h1>
    <div class="featured">
      <div class="image">
        <a
          href="/product/{{ featured_product.id }}"
          data-pid="{{ featured_product.id }}"
          class="product-view-link"
        >
          <img
            src="{{ url_for('static', path='images/placeholder_img.png') }}"
            alt="{{ featured_product.name }}"
          />
        </a>
      </div>
      <h3 class="name">{{ featured_product.name }}</h3>
      <div class="desc">{{ featured_product.desc }}</div>
      <div class="actions">
        <div
          name="like"
          data-pid="{{ featured_product.id }}"
          data-user-id="{{ user_id }}"
          class="like"
        ></div>
        <div class="price">${{ featured_product.price }}</div>
        <div
          name="buy"
          data-pid="{{ featured_product.id }}"
          data-user-id="{{ user_id }}"
          class="buy"
        ></div>
      </div>
    </div>
    <div class="list">
      {% for product in rec_products %} {% include
      "components/product_card.html" %} {% endfor %}
    </div>
  </div>

  <div class="products">
    <h2 class="cat-name">Catalogue</h2>
    <div class="catalogue">
      <div class="list">
        {% for product in cat_products %} {% include
        "components/product_card.html" %} {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
