{% extends "base.html" %} {% block content %}
<main class="detail">
  <div class="product">
    <div class="disp1">
      <h1>{{ selected_product.name }}</h1>
      <div class="image">
        <img
          src="{{ url_for('static', path='images/rec_product_img.png') }}"
          alt="{{ selected_product.name }}"
        />
      </div>
    </div>
    <div class="disp2">
      <div class="rating">
        <h3>Rating:</h3>
        <div class="stars">
          {% for i in range(1, 6) %}
          <img
            name="rate"
            class="star"
            src="{{ url_for('static', path='images/btn_star.png') }}"
            data-rating="{{ i }}"
            data-pid="{{ selected_product.id }}"
            alt="{{ i }} star"
          />
          {% endfor %}
        </div>
      </div>
      <div class="desc">
        <h2>Product Details</h2>
        {{ selected_product.desc }}
      </div>
      <div class="actions">
        <div
          name="like"
          data-pid="{{ selected_product.id }}"
          class="like"
        ></div>
        <div class="price">${{ selected_product.price }}</div>
        <div name="buy" data-pid="{{ selected_product.id }}" class="buy"></div>
      </div>
    </div>
  </div>

  <div class="recommendations">
    <h2>Related Products</h2>
    <div class="list">
      {% for product in rec_products %} {% include
      "components/product_card.html" %} {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
